@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('http://fonts.cdnfonts.com/css/sofia-pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply px-4 py-2 bg-blue-600 text-white rounded;
    }
}

@font-face {
    font-family: "galano";
    src: url("../fonts/galano/GalanoGrotesqueRegular.otf") format("truetype");
}
@font-face {
    font-family: "Bold-galano";
    src: url("../fonts/galano/GalanoGrotesqueBold.otf") format("truetype");
}


body{
    font-family: 'Sofia Pro', sans-serif;
    max-width: 1100px;
    font-weight: 400;
    margin: auto;
    padding-bottom: 50px;
    /*margin-left: 150px;*/
    /*margin-right: 150px;*/
}
#link{
    color: #545454;
}
#sabonner{
    background-color: #EECF64;
    padding: 10px 20px;
}
#titre-pr{
    font-family: Bold-galano;
    font-size: 36px;
    color:#545454;
    width: 509px;
    line-height: 55px;
}

#description{
    color: #939393;
}
#btn-subsribe{
    background-color: #EECF64;
    font-weight: 700;
    padding: 10px 50px;
    color: #545454;
}
#btn-discover{
    background-color: transparent;
    font-weight: 700;
    padding: 10px 50px;
    border: 3px solid #EECF64;
    color: #EECF64;
}
#text-c{
    color: #939393;
    width: 320px;

}
#img-emoji-abeille{
    background-color: #F2F2F2;
    padding: 12px;
    border-radius: 200px;
}
#titre-c{
    margin-top: 20px;
    color: #545454;
}
#text-c2{
    color: #939393;
    width: 340px;
}
#h1-title-description-recette{
    font-size: 30px;
    color:#545454;
}
#title-description-news-explore{
    color: #A8A8A8;
}
#text-c3{
    margin-top: 10px;
    color: #939393;
    width: 490px;
}
#titre-part4{
    display: block;
    text-align: center;
}
#titres-part5{
    font-size: 30px;
    color: #545454;
}
#titres-part5-description{
    color: #92929292;
}
#container-associations{
    background-color: #FAF9F9;
}
#description-associations{
    color: #929292;
    font-size: 20px;
}
#container-associations{
    display: block;
    text-align: center;

}
#btn-associations{
    background-color: #EE8564;
    border-radius: 99px;
    color: white;
    padding: 5px 40px;
    font-size: 16px;
}